body {
  margin: auto;
  padding: 0;
}

h1 {
  margin: 20px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.DonsAjoutes {
  display : flex!important;
  flex-wrap: wrap;
}
