body {
  background-color: #ff8000;
}

.menuP {
  border: 1px solid black;
  justify-content: space-between;
}

.menuP li {
  border: 1px solid black;
  border-radius: 20%;
}

.menuP li a {
  color: #000;
  text-decoration: none;
}

h1 {
  display: flex;
  justify-content: center;
}

.fowm {
  background-color: #ff8000;
}

.naw {
  margin: 5px;
}

.centew {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  list-style-type: none;
}

.centew ul {
  list-style-type: none;
}

.navDoom {
  border: 1px solid black;
}
